<a href="https://colab.research.google.com/github/visapthakur/-team-netflix-movies-and-tv-shows-clustering-/blob/main/INDIVIDUAL_NETFLIX_MOVIES_AND_TV_SHOWS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    - NETFLIX_MOVIES_AND_TV_SHOWS_CLUSTERING

##### **Project Type**    - Unsupervised
##### **Contribution**    - INDIVIDUAL
##### **Team Member 1** - VISHAL TOMER

# **Project Summary -**

Write the summary here within 500-600 words.


This dataset consist of  tv shows and movies available on netflix as of 2019 .the dataset is collected from   flixable which is a third party search engine .
in 2018 they  released an  interesting report  which shows that the no of tv shows on netflix has really tripled since 2010. The streaming services number of movies had dedcreased  by more than 2000 titles since 2010, while its number of tv shows  has nearly tripled .it will be interesting to explore   what all other insights  can be obtained from the same dataset ,integrating this dataset with other external datasets such as IMDB rating, rotten tomatoes can also provide many interesting findings .The goal of this project is to classify/group the Netflix shows into certain clusters such that the shows within a cluster are similar to each other and the shows in different clusters are dissimilar to each other.We will be able to understand the shows that are similar to and different from one another by creating clusters, which may be leveraged to offer the consumers personalized show suggestions depending on their preferences.Netflix is the world's largest online streaming service provider, with over 220 million subscribers as of 2022-Q2. It is crucial that they effectively cluster the shows that are hosted on their platform in order to enhance the user experience, thereby preventing subscriber churn.

# **GitHub Link -**

Provide your GitHub Link here.

# **Problem Statement**

**Write Problem Statement Here.**

# This dataset consists of tv shows and movies available on Netflix as of 2019. The dataset is collected from Flixable which is a third-party Netflix search engine.

#In 2018, they released an interesting report which shows that the number of TV shows on Netflix has nearly tripled since 2010. The streaming serviceâ€™s number of movies has decreased by more than 2,000 titles since 2010, while its number of TV shows has nearly tripled. It will be interesting to explore what all other insights can be obtained from the same dataset.

#Integrating this dataset with other external datasets such as IMDB ratings, rotten tomatoes can also provide many interesting findings.

# In this project, you are required to do



#Exploratory Data Analysis

#Understanding what type content is available in different countries

#Is Netflix has increasingly focusing on TV rather than movies in recent years.

# Clustering similar content by matching text-based features

# **Attribute Information**


#show_id : Unique ID for every Movie / Tv Show

#type : Identifier - A Movie or TV Show

#title : Title of the Movie / Tv Show

#director : Director of the Movie

#cast : Actors involved in the movie / show

#country : Country where the movie / show was produced

#date_added : Date it was added on Netflix

#release_year : Actual Releaseyear of the movie / show

#rating : TV Rating of the movie / show

#duration : Total Duration - in minutes or number of seasons

#listed_in : Genere

#description: The Summary description

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required. 
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits. 
     
     The additional credits will have advantages over other students during Star Student selection.
       
             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.
        

```
# Chart visualization code
```
            

*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 15 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule. 

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]





6. You may add more ml algorithms for model creation. Make sure for each and every algorithm, the following format should be answered.


*   Explain the ML Model used and it's performance using Evaluation metric Score Chart.


*   Cross- Validation & Hyperparameter Tuning

*   Have you seen any improvement? Note down the improvement with updates Evaluation metric Score Chart.

*   Explain each evaluation metric's indication towards business and the business impact pf the ML model used.

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [ ]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime as dt

import warnings
warnings.filterwarnings('ignore')

from wordcloud import WordCloud, STOPWORDS
import re, string, unicodedata
import nltk
#import inflect
from bs4 import BeautifulSoup
from nltk import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import LancasterStemmer, WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import PCA

from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
import string
string.punctuation
nltk.download('omw-1.4')
from nltk.tokenize import TweetTokenizer

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.cluster import AgglomerativeClustering
import scipy.cluster.hierarchy as shc

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

%matplotlib inline
sns.set()

### Dataset Loading

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

### Dataset First View

In [ ]:
# Load Dataset
initial_df =  pd.read_csv('/content/NETFLIX MOVIES AND TV SHOWS CLUSTERING.csv')

In [ ]:
df = initial_df.copy()

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count
# head of the data
df.head()

### Dataset Information

In [ ]:
# Dataset Info
df.info()

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count
print("Duplicate entry in df:",len(df[df.duplicated()]))

#### Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count
df.isnull().sum()

In [ ]:
# Visualizing the missing values
plt.figure(figsize = (10,8), facecolor = 'y')
ax = plt.gca()
sns.heatmap(df.isnull(), cmap = 'Blues_r', ax =ax,  linecolor = 'r')
plt.show()

In [ ]:
# dropping date_added and rating rows where values are missing
df = df.dropna(axis =0, subset = ['date_added', 'rating'] )
df['date_added'].isnull().sum()

### What did you know about your dataset?

Answer Here

We don't have null or infinite values dataset but have some null values in netflix movies dataset and we have to deal with it in future

## ***2. Understanding Your Variables***

In [ ]:
# Dataset Columns
df.columns

In [ ]:
# Dataset Describe
df.describe(include='all')

### Variables Description

Answer Here


#show_id : Unique ID for every Movie / Tv Show

#type : Identifier - A Movie or TV Show

#title : Title of the Movie / Tv Show

#director : Director of the Movie

#cast : Actors involved in the movie / show

#country : Country where the movie / show was produced

#date_added : Date it was added on Netflix

#release_year : Actual Releaseyear of the movie / show

#rating : TV Rating of the movie / show

#duration : Total Duration - in minutes or number of seasons

#listed_in : Genere

#description: The Summary description

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.
for i in df.columns.tolist():
  print("No. of unique values in",i,"is",df[i].nunique())

## 3. ***Data Wrangling***

### Data Wrangling Code

In [ ]:
# Summing null values
print('Missing Data Count')
df.isna().sum()[df.isna().sum() > 0].sort_values(ascending=False)

In [ ]:
print('Missing Data Percentage')
print(round(df.isna().sum()[df.isna().sum() > 0].sort_values(ascending=False)/len(df)*100,2))

In [ ]:
# The missing values in the 'director', 'cast', and 'country' columns can be replaced with the label 'Unknown'.
df[['director']] = df[['director']].fillna('Unknown')
df[['cast']]     = df[['cast']].fillna('Unknown')
df[['country'] ] = df[['country']].fillna('Unknown')

### What all manipulations have you done and insights you found?

Answer Here.

Merging datasets: We don't want to compromise with quality and quantity of our dataset in order to get the best accuracy in ML model implementation. So, we were wondering to use the best join for the good results and we got to know with our R&D that every join is giving the same shape of our merged dataset with 0 null values

## ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables***

#### Chart - 1

In [ ]:
# defining a function to get the year addedfrom the date_added
def func_1(x):
  return x.split()[0]

In [ ]:
# checking the head of the dataset
df.head()

In [ ]:
# defining two sub-datasets based on type of the content
shows_df = df[df['type'] == 'TV Show']
movie_df  = df[df['type']== 'Movie']

In [ ]:
# creating a column n movie_df dataframe using func_1 funtion
movie_df['duration'] = movie_df['duration'].apply(func_1)

In [ ]:
# Chart - 1 visualization code
# plotting the type distribution
sns.set_style('darkgrid')


plt.figure(figsize = (8,6))
df['type'].value_counts().plot.pie(autopct="%1.1f%%", cmap = 'Paired', shadow=True, startangle=190,explode=(0.04,0.04));
plt.title('Distribution of content Type')
plt.show()

In [ ]:
# creating a  TV shows dataset where imputed values are not taking into account
tv_shows_df = df[df['type'] == 'TV Show']
tv_shows_df = tv_shows_df[tv_shows_df['country'] != 'missing']

# creating a  movies dataset where imputed values are not taking into account
movies_df  = df[df['type']== 'Movie']
movies_df = movies_df[movies_df['country'] != 'missing']


# getting unique values shows dataframe
country_df_shows = pd.DataFrame(tv_shows_df['country'].str.split(', ', expand= True).stack().reset_index(level =1, drop = True).value_counts()).reset_index()
country_df_shows.rename(columns = {'index': 'country', 0:'shows counts'}, inplace =True)
top_15_countries = country_df_shows.head(15)

# getting unique values shows dataframe fir movies
country_df_movies = pd.DataFrame(movies_df['country'].str.split(', ', expand= True).stack().reset_index(level =1, drop = True).value_counts()).reset_index()
country_df_movies.rename(columns = {'index': 'country', 0:'movies counts'}, inplace =True)
top_15_countries_movies = country_df_movies.head(15)
new_df = pd.concat([top_15_countries, top_15_countries_movies] , axis =1)

# final dataframe
new_df

In [ ]:
# top 10 directors who have directed most move
director_df  =  df[df['director'] != 'None']
director_df = pd.DataFrame(director_df['director'].value_counts().head(10)).reset_index()
director_df.rename(columns = {'index' : 'director', 'director' : 'counts'}, inplace= True)
director_df

##### 1. Why did you pick the specific chart?

Answer Here.

We choose the pie chart as it represents the tv show and movies of each part of the data to a whole where the arc size of each slice is directly proportional to the contribution of that part

##### 2. What is/are the insight(s) found from the chart?

Answer Here

We see that movies 69.1% of and 30.9%  in type for count.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

Later we will see if their is any impact of Response on Netflix Movies.

#### Chart - 2

# Seasons

In [ ]:
# Chart - 2 visualization code
plt.figure(figsize = (10,7))


seasons_df = pd.DataFrame(shows_df['duration'].value_counts()).reset_index()
seasons_df.rename(columns = {'index': 'seasons', 'duration': 'counts'}, inplace = True)
sns.barplot(data =seasons_df, x= 'seasons', y= 'counts')
plt.xticks(rotation = 60)
plt.show()


seasons_df

##### 1. Why did you pick the specific chart?

Answer Here.

We choose the chart as it represents the count & seasons  of each part of the data to a whole where the arc size of each slice is directly proportional to the contribution of that part

##### 2. What is/are the insight(s) found from the chart?

Answer Here

We see that season 1 has maximum count & season 16 has minimum count.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

Later we will see if their is any impact of Response on Netflix Movies.

#### Chart - 3

# Duration

In [ ]:
# Chart - 3 visualization code
tv_shows = df[df['type'] == 'TV Show']
movies = df[df['type'] == 'Movie']

# Select the durations for both.
duration_tv_shows = tv_shows['duration'].reset_index()
duration_movies = movies['duration'].reset_index()

# Remove string values from tv shows duration.
duration_tv_shows.duration = duration_tv_shows.duration.str.replace(' Season', '') \
                                                       .str.replace(' Seasons', '') \
                                                       .str.replace('s', '')                                                       
duration_tv_shows.duration = duration_tv_shows.duration.astype(str).astype(int)

# Remove string values from movie duration.
duration_movies.duration = duration_movies.duration.str.replace(' min', '')                                                       
duration_movies.duration = duration_movies.duration.astype(str).astype(int)

In [ ]:
# Plot the above durations.
plt.figure(figsize=(8,4), dpi=120)
sns.set(style="darkgrid")
sns.histplot(data=duration_tv_shows['duration'], color='#db0000')
plt.title('Duration of Tv Shows.')
plt.show()

In [ ]:
plt.figure(figsize=(8,4), dpi=120)
sns.set(style="darkgrid")
sns.histplot(data=duration_movies['duration'], color='#db0000')
plt.title('Duration of movies')
plt.show()

##### 1. Why did you pick the specific chart?

Answer Here.


We choose the chart as it represents the count & duration of each part of the data to a whole where the arc size of each slice is directly proportional to the contribution of that part

##### 2. What is/are the insight(s) found from the chart?

Answer Here

We see that maximum duration of movie  count is 380 count &  minimum count 9of duration of movie is 20.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

Later we will see if their is any impact of Response on Netflix Movies.

#### Chart - 4

# Rating:

In [ ]:
# Chart - 4 visualization code
order =  ['G', 'TV-Y', 'TV-G', 'PG', 'TV-Y7', 'TV-Y7-FV', 'TV-PG', 'PG-13', 'TV-14', 'R', 'NC-17', 'TV-MA']
plt.figure(figsize=(15,7))
g = sns.countplot(df.rating, hue=df.type, order=order, palette='Set2_r');
plt.title("Ratings for Movies & TV Shows")
plt.xlabel("Rating")
plt.ylabel("Total Count")
plt.show()

In [ ]:
# finding top 20 movie genres in movies and TV shows
genres_shows = shows_df.listed_in.str.split(', ', expand=True).stack().reset_index(level=1, drop=True)
genres_movies = movie_df.listed_in.str.split(', ', expand=True).stack().reset_index(level=1, drop=True)


fig , axes = plt.subplots(1,2, figsize = (15,8))

sns.countplot(y = genres_shows, order=genres_shows.value_counts().index[:20], ax= axes[0])
sns.countplot(y = genres_movies, order=genres_movies.value_counts().index[:20], ax= axes[1])

axes[0].set_xlabel('count', fontsize = 15, c='b')
axes[1].set_xlabel('count', fontsize = 15, c='b')
axes[0].set_ylabel('genres', fontsize = 20, c = 'b')
axes[0].set_title('Top 20 shows genres', fontsize = 15)
axes[1].set_title('Top 20 movie genres', fontsize = 15 )




# plt.figure(figsize=(7,9))
# g = sns.countplot(y = genres_shows, order=genres_shows.value_counts().index[:20])

# plt.xlabel('Titles')
plt.ylabel('Genres')
plt.tight_layout()
plt.show()

##### 1. Why did you pick the specific chart?

Answer Here.

This chart shows tha count of tv shows and movies saperately   of each and every genres.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

we can see that international movies count are 1200 and count of international tv shows are 2400.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

Later we will see if their is any impact of Response on Netflix Movies.

#### Chart - 5

# Actors

In [ ]:
# Chart - 5 visualization code
tv_shows_df = df[df['type'] == 'TV Show']
tv_shows_actors = tv_shows_df[tv_shows_df['cast'] != 'not available']

movies_df  = df[df['type']== 'Movie']
movie_actors = movies_df[movies_df['cast'] != 'not available']




top_shows_actors =  tv_shows_actors.cast.str.split(',', expand= True).stack().reset_index(level =1, drop = True)
top_movie_actors =  movie_actors.cast.str.split(',', expand= True).stack().reset_index(level =1, drop = True)



fig , axes = plt.subplots(1,2, figsize = (15,8))

sns.countplot(y = top_shows_actors, order=top_shows_actors.value_counts().index[:15], ax= axes[0], palette ='cividis_r')
sns.countplot(y = top_movie_actors, order=top_movie_actors.value_counts().index[:15], ax= axes[1], palette = 'cividis_r')

axes[0].set_xlabel('count', fontsize = 15, c='black')
axes[1].set_xlabel('count', fontsize = 15, c='black')
axes[0].set_ylabel('Actors', fontsize = 20, c = 'black')
axes[0].set_title('Top 15 shows actors', fontsize = 15)
axes[1].set_title('Top 15 movie actors', fontsize = 15 )

plt.ylabel('Actors')
plt.tight_layout()
plt.show()

##### 1. Why did you pick the specific chart?

Answer Here.



This chart shows tha count of tv shows  actors  and count of  tv movies actor  saperately of each and every  chart.

##### 2. What is/are the insight(s) found from the chart?

Answer Here
we aacn see that the count of tv shows actor are maximum and the count of movies actor  are less.

#### Chart - 6

# Most used word in title of content on Netflix

In [ ]:
#importing the wordcloud
from wordcloud import WordCloud,ImageColorGenerator

In [ ]:
# Chart - 6 visualization code
text = " ".join(topic for topic in df.title.astype(str))
print ("There are {} words in the combination of all titles.".format(len(text)))

# Create and generate a word cloud image:
wordcloud = WordCloud(background_color="black", width=800, height=400).generate(text)

plt.axis("off")
plt.rcParams["figure.figsize"] = (14,6)
plt.tight_layout(pad=0)
plt.imshow(wordcloud, interpolation='bilinear')
plt.show()

#### Chart - 7

# Cast:

In [ ]:
# Chart - 7 visualization code
df['cast_name'] = df['cast'].apply(lambda x :  x.split(',')) 
cast_count = []
for i in df['cast_name']: cast_count += i
    
cast_dict = dict((i, cast_count.count(i)) for i in cast_count)

df_cast_count = pd.DataFrame(cast_dict.values(),cast_dict.keys()).reset_index().sort_values(0,ascending=False).rename(
    columns = {'index' : 'cast_name', 0 : 'count'}).iloc[1:21]
plt.figure(figsize=(15,5))
sns.barplot(x='cast_name',y='count',data=df_cast_count,palette="Dark2_r")
plt.title("Top-20 ACTORS on Netflix",size='16',fontweight="bold")
plt.xticks(rotation=90)
plt.show()

##### 1. Why did you pick the specific chart?

Answer Here.


this chart shows the top 20 actors name with the value of count here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here


here we can see that anupam kher has a hinghest count of 38 and arsani haas the less count of 17 which is very less in comaprison with others .

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

there is no negative point of affecting the growth.if there is any we will deal with it later.

#### Chart - 8

# Director:

In [ ]:
# Chart - 8 visualization code
plt.figure(figsize=(10,5))
df[~(df['director']=='Unknown') & (df['type']=='Movie')].director.value_counts().nlargest(10).plot(kind='barh')
plt.title('Top 10 movie directors')

In [ ]:
# Top 10 TV show directors
plt.figure(figsize=(10,5))
df[~(df['director']=='Unknown') & (df['type']=='TV Show')].director.value_counts().nlargest(10).plot(kind='barh')
plt.title('Top 10 TV show directors')

##### 1. Why did you pick the specific chart?

Answer Here.

1.  TO shows the top 10 tv shows director.
2.   values of alll the director.

##### 2. What is/are the insight(s) found from the chart?

here qee cn see thet alastair fotergill has the hinghest count

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

Later we will see if their is any impact of Response on Netflix Movies.

#### Chart - 9

# Release_year : Actual Releaseyear of the movie / show

In [ ]:
# Chart - 9 visualization code
fig, ax = plt.subplots(figsize=(15, 8))
sns.countplot(x="release_year", data=df)
plt.title("Number of movie/show relesed on year")
plt.xlabel("Year")
plt.ylabel("Count")
plt.xticks(rotation =90)
plt.show()

##### 1. Why did you pick the specific chart?

Answer Here.

In this chart shows the top  year top year 2018 with the value of count here relesed year.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

here see can thet 2018 has the hinghest count

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

there is no negative point of affecting the growth.if there is any we will deal with it later.

#### Chart - 10

# Country where the movie / show was produced

In [ ]:
# Chart - 10 visualization code
df["country"].value_counts()[:15].sort_values(ascending=False).plot(kind="bar")
plt.title("Top 15 Country where the movie / show was produced")
plt.xlabel("Country")
plt.ylabel("Count")
plt.show()

##### 1. Why did you pick the specific chart?

Answer Here.

TO shows the top 10 tv shows country.
values of all the count heighest value of united state 2500.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

here qee cn see thet united state has the hinghest count

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

Later we will see if their is any impact of count on Movies.

#### Chart - 11

# listed_in : Genere

In [ ]:
# Chart - 11 visualization code
plt.figure(figsize=(10,5))
df.listed_in.value_counts().nlargest(10).plot(kind='barh', color= 'crimson')
plt.title('Top 10 genres', fontweight = 'bold')
#sns.countplot(palette = 'cubehelix')

##### 1. Why did you pick the specific chart?

Answer Here.

This chart shows tha count of genres and count of tv movies actor saperately of each and every chart.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

we aacn see that the count of genres 350 are maximum and the count of movies actor are less.

#### Chart - 12 - Correlation Heatmap

In [ ]:
# Correlation Heatmap visualization code
plt.figure(figsize = (14,12))
sns.heatmap(df.corr(), annot = True,  cmap = 'viridis')
plt.show()

## ***5. Hypothesis Testing***

### Based on your chart experiments, define three hypothetical statements from the dataset. In the next three questions, perform hypothesis testing to obtain final conclusion about the statements through your code and statistical testing.

Answer Here.

HO:movies rated for kids and older kids are at least two hours long.

H1:movies rated for kids and older kids are not at least two hours long.

### Hypothetical Statement - 1

In [ ]:
movies

In [ ]:
#making copy of df_clean_frame
df_hypothesis=df.copy()
#head of df_hypothesis
df_hypothesis.head()

In [ ]:
#filtering movie from Type_of_show column
df_hypothesis = df_hypothesis[df_hypothesis["type"] == "Movie"]

In [ ]:
#with respect to each ratings assigning it into group of categories                 
ratings_ages = {
    'TV-PG': 'Older Kids',
    'TV-MA': 'Adults',
    'TV-Y7-FV': 'Older Kids',
    'TV-Y7': 'Older Kids',
    'TV-14': 'Teens',
    'R': 'Adults',
    'TV-Y': 'Kids',
    'NR': 'Adults',
    'PG-13': 'Teens',
    'TV-G': 'Kids',
    'PG': 'Older Kids',
    'G': 'Kids',
    'UR': 'Adults',
    'NC-17': 'Adults'
}

df_hypothesis['target_ages'] = df_hypothesis['rating'].replace(ratings_ages)
#let's see unique target ages 
df_hypothesis['target_ages'].unique()

In [ ]:
#Another category is target_ages (4 classes).
df_hypothesis['target_ages'] = pd.Categorical(df_hypothesis['target_ages'], categories=['Kids', 'Older Kids', 'Teens', 'Adults'])
#from duration feature extractin string part and after extracting Changing the object type to numeric
df_hypothesis['duration']= df_hypothesis['duration'].str.extract('(\d+)')
df_hypothesis['duration'] = pd.to_numeric(df_hypothesis['duration'])
#head of df_
df_hypothesis.head(3)

In [ ]:
#group_by duration and target_ages                 
group_by_= df_hypothesis[['duration','target_ages']].groupby(by='target_ages')
#mean of group_by variable
group=group_by_.mean().reset_index()
group

In [ ]:
#In A and B variable grouping values 
A= group_by_.get_group('Kids')
B= group_by_.get_group('Older Kids')
#mean and std. calutation for kids and older kids variables
M1 = A.mean()
S1 = A.std()

M2= B.mean()
S2 = B.std()

print('Mean for movies rated for Kids {} \n Mean for  movies rated for older kids {}'.format(M1,M2))
print('Std for  movies rated for Older Kids {} \n Std for  movies rated for kids {}'.format(S2,S1))

In [ ]:
#import stats 
from scipy import stats
#length of groups and DOF
n1 = len(A)
n2= len(B)
print(n1,n2)

dof = n1+n2-2
print('dof',dof)

sp_2 = ((n2-1)*S1**2  + (n1-1)*S2**2) / dof
print('SP_2 =',sp_2)

sp = np.sqrt(sp_2)
print('SP',sp)

#tvalue
t_val = (M1-M2)/(sp * np.sqrt(1/n1 + 1/n2))
print('tvalue',t_val[0])

In [ ]:
#t-distribution
stats.t.ppf(0.025,dof)

In [ ]:
#t-distribution
stats.t.ppf(0.975,dof)

### Hypothetical Statement - 2

H1:The duration which is more than 90 mins are movies

HO:The duration which is more than 90 mins are NOT movies

In [ ]:
#making copy of df_clean_frame
df_hypothesis=df.copy()
#head of df_hypothesis
df_hypothesis.head()

In [ ]:
df_hypothesis['duration']= df_hypothesis['duration'].str.extract('(\d+)')
df_hypothesis['duration'] = pd.to_numeric(df_hypothesis['duration'])
#head of df_

In [ ]:
df_hypothesis['type'] = pd.Categorical(df_hypothesis['type'], categories=['Movie','TV Show'])
#from duration feature extractin string part and after extracting Changing the object type to numeric
#df_hypothesis['duration']= df_hypothesis['duration'].str.extract('(\d+)')
#df_hypothesis['duration'] = pd.to_numeric(df_hypothesis['duration'])
#head of df_
df_hypothesis.head(3)

In [ ]:
#group_by duration and TYPE                 
group_by_= df_hypothesis[['duration','type']].groupby(by='type')
#mean of group_by variable
group=group_by_.mean().reset_index()
group

In [ ]:
#In A and B variable grouping values 
A= group_by_.get_group('Movie')
B= group_by_.get_group('TV Show')
#mean and std
M1 = A.mean()
S1 = A.std()

M2= B.mean()
S2 = B.std()

print('Mean  {}'.format(M1,M2))
print('Std  {}'.format(S2,S1))

In [ ]:
#import stats 
from scipy import stats
#length of groups and DOF
n1 = len(A)
n2= len(B)
print(n1,n2)

dof = n1+n2-2
print('dof',dof)

sp_2 = ((n2-1)*S1**2  + (n1-1)*S2**2) / dof
print('SP_2 =',sp_2)

sp = np.sqrt(sp_2)
print('SP',sp)

#tvalue
t_val = (M1-M2)/(sp * np.sqrt(1/n1 + 1/n2))
print('tvalue',t_val[0])

In [ ]:
#t-distribution
stats.t.ppf(0.025,dof)

In [ ]:
#t-distribution
stats.t.ppf(0.975,dof)

## ***6. Feature Engineering & Data Pre-processing***

### 1. Handling Missing Values

In [ ]:
# Handling Missing Values & Missing Value Imputation
df.isnull().sum()

#### What all missing value imputation techniques have you used and why did you use those techniques?

Answer Here.

We have checked the outliers by plotting the box plot and then replaced the null values of various variables with mean, median,mode and 0 accordingly.

### 2. Handling Outliers

In [ ]:
# checking for the outliers in countries column
df_a = pd.DataFrame(df['country'].value_counts())
df_a[df_a['country'] == 1]


# basis on this data we cannot find outlier rows in country column

In [ ]:
# detecting outlier detection in shows_df as in this dataframe duration columns contains categorical values i.e seasons

# cheking for the percent distribution in duraion column of shows_df


shows_df['duration'].value_counts(normalize =True)*100

shows_duration = pd.DataFrame(shows_df['duration'].value_counts()).reset_index().rename(columns = {'index' : 'season', 'duration': 'counts'})
shows_duration['percent_occupied'] = shows_duration['counts']/len(shows_df)*100
shows_duration
# based on this result we can assume that there are less than 1 percent shows which are 7 seasons or long hence we can consider these seasons as outliers
# however we will be removing content which has more than 10 seasons

In [ ]:
# checking shape before outlier removal
shows_df.shape

In [ ]:
# new shows_df after removing shows having more than 10 seasons
list_1 = ['11 Seasons', '12 Seasons', '15 Seasons', '13 Seasons','16 Seasons']

shows_df_updated = shows_df[shows_df['duration'] != '11 Seasons'  ]
shows_df_updated = shows_df_updated[shows_df_updated['duration'] != '12 Seasons'  ]
shows_df_updated = shows_df_updated[shows_df_updated['duration'] != '13 Seasons'  ]
shows_df_updated = shows_df_updated[shows_df_updated['duration'] != '14 Seasons'  ]
shows_df_updated = shows_df_updated[shows_df_updated['duration'] != '15 Seasons'  ]
shows_df_updated = shows_df_updated[shows_df_updated['duration'] != '16 Seasons'  ]
shows_df_updated['duration'].value_counts(normalize =True)*100

In [ ]:
## checking shape after outlier removal
shows_df_updated.shape

In [ ]:
# we will be using isllation forest technique to detect outlier in duration column of movies_df

# first let see distribution of movies again 

plt.figure(figsize = (10,7))
ax = plt.gca()
sns.distplot( x= movie_df['duration'], ax = ax, color = 'y')
plt.title('Movie duration distribution')
plt.show()

Using Isolation forest method to remove outliers from movie duration feature

In [ ]:
# importing isolationForest
from sklearn.ensemble import IsolationForest


movie_df1 = movie_df.copy()

isolation_forest = IsolationForest(n_estimators = 100, contamination = 0.04, random_state = 42)
isolation_forest.fit(movie_df1['duration'].values.reshape(-1,1))
movie_df1['anomaly_score'] = isolation_forest.decision_function(movie_df1['duration'].values.reshape(-1,1))
movie_df1['-1 if outlier'] = isolation_forest.predict(movie_df1['duration'].values.reshape(-1,1))

# printing head of the dataset
movie_df1.sort_values('anomaly_score').head()

In [ ]:
# creating a new dataframe with no outliers
movie_df1 = movie_df1[movie_df1['-1 if outlier'] == 1]
movie_df_updated = movie_df1.drop(['anomaly_score', '-1 if outlier'], axis = 1)
movie_df_updated.head()

In [ ]:
# first let see distribution of movies again 

plt.figure(figsize = (10,7))

fig, axes  = plt.subplots(1,2, figsize = (20,7))
ax = plt.gca()


sns.distplot( x= movie_df['duration'], color = 'c', bins = 50, ax =axes[0])
axes[0].set_title('movies duration distribution before')

sns.distplot( x= movie_df_updated['duration'], color = 'r', bins = 50, ax =axes[1])
axes[1].set_title('movies duration distribution after')
plt.show()

In [ ]:
# cheking shape of movie_df after outlier removal
movie_df_updated.shape

In [ ]:
# # creating different columns of genres
# genres = updated_dataset['listed_in'].str.split(', ', expand = True)
# genres[1].fillna(genres[0], inplace = True)
# genres[2].fillna(genres[1], inplace = True)
# updated_dataset = pd.concat([updated_dataset, genres], axis = 1).drop('listed_in', axis =1)
# updated_dataset.rename(columns = {0 : 'genre1', 1: 'genre2', 2: 'genre3'}, inplace = True)
# updated_dataset.head()

In [ ]:
#Shape of initial dataset
initial_df.shape

##### What all outlier treatment techniques have you used and why did you use those techniques?

Answer Here.

Let's define a code to detect the number of outliers and percentage of outliers present in each of the feature in order to handle them accordingly.

### 3. Categorical Encoding

In [ ]:
# Encode your categorical columns
categorical_features= df.select_dtypes(include='object')

In [ ]:
categorical_features

#### What all categorical encoding techniques have you used & why did you use those techniques?

Answer Here.

We have used one-hot encoding technique to change our categorical features of object type into int type by creating their dummies so that it becomes compatible to feed it into various ML algorithms in future.

### 4. Textual Data Preprocessing 
(It's mandatory for textual dataset i.e., NLP, Sentiment Analysis, Text Clustering etc.)

#### 1. Expand Contraction

In [ ]:
df['description'][0:10]

#### 4. Removing Stopwords & Removing White spaces

#### . Text Vectorization

In [ ]:
# Vectorizing Text
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.snowball import SnowballStemmer
nltk.download('punkt')

### 4. Feature Manipulation & Selection

#### 1. Feature Manipulation

In [ ]:
# Manipulate Features to minimize feature correlation and create new features
df.head()

#### 2. Feature Selection

In [ ]:
# Select your features wisely to avoid overfitting
plt.figure(figsize = (14,12))
sns.heatmap(df.corr(), annot = True,  cmap = 'viridis')
plt.show()

# DATA PREPROCESSING

In [ ]:
# consolidating dataset and removing unnecessary features
updated_dataset = pd.concat([shows_df_updated, movie_df_updated], axis = 0).reset_index().drop('index', axis = 1)
cluster_dataset = pd.DataFrame(updated_dataset['listed_in'] + updated_dataset['description'])
cluster_dataset.rename(columns = {0 : 'description'}, inplace = True)

In [ ]:
# cleaning the text
def remove_punctuation(text):
    '''a function for removing punctuation'''
    import string
    # replacing the punctuations with no space, 
    # which in effect deletes the punctuation marks 
    translator = str.maketrans('', '', string.punctuation)
    # return the text stripped of punctuation marks
    return text.translate(translator)

In [ ]:
cluster_dataset['description'] = cluster_dataset['description'].apply(remove_punctuation)
cluster_dataset

In [ ]:
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')

In [ ]:
 # create an object of stemming function
lemmatizer = WordNetLemmatizer()

def stem_func(text):    
    '''a function which stems each word in the given text'''
    text = [lemmatizer.lemmatize(word) for word in text.split()]
    return " ".join(text)

In [ ]:
cluster_dataset['description'] = cluster_dataset['description'].apply(stem_func)

In [ ]:
tf_cluster =  TfidfVectorizer(stop_words = 'english', max_features = 2000)
cluster_tfidf = tf_cluster.fit_transform(cluster_dataset['description'])

In [ ]:
cluster_tfidf.shape

In [ ]:
# convert X into array form for clustering
X = cluster_tfidf.toarray()
X

In [ ]:
#Perform a PCA to visualize clusters
pca = PCA(n_components = 2)
visualize_df =pd.DataFrame(pca.fit_transform(X))
visualize_df.head()

# **Conclusion**

Write the conclusion here.

Section 1: In this section we have simply loaded our dataset into google colab and explored the basic information about data.

Section 2: In section 2 we have dealt with missing values and imputed the missing values depending on the certain assumption so that we do not miss out important information of the data.

Section 3: In this section We have foused on the EDA part where we have performed a detailed EDA on all the possible columns we have drawn a lot of insights even though the data in some columns was not in appropriate format such as cast, listed_in etc.

Section 4: in this section we have dealt with outliers where we have used general way remove categorical outliers and then we have used isolation forest to remove numeric outliers and visualise out data before and after the process.

### ***Hurrah! You have successfully completed your Machine Learning Capstone Project !!!***